@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap");
header .header nav ul {
  margin: 0;
  padding: 0; }

header .header nav ul li {
  list-style-type: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap Condensed', sans-serif; }

html {
  scroll-behavior: smooth; }

section#about, section#projects {
  overflow: hidden; }

header {
  position: absolute;
  background: #948e8ea8;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 99; }
  header.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: black; }
  header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    font-size: 1.2rem; }
    header .header .logo h5 {
      margin: 0;
      color: #fff;
      text-transform: uppercase; }
    header .header nav ul {
      display: flex; }
      @media (max-width: 768px) {
        header .header nav ul {
          position: absolute;
          top: 55px;
          left: -100%;
          height: 100vh;
          width: 100vw;
          max-width: 100%;
          background: #000;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow-x: hidden;
          z-index: 1;
          transition: all 0.5s ease; }
          header .header nav ul.active {
            left: 0; } }
      header .header nav ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 0 20px;
        text-transform: uppercase;
        transition: all 0.5s ease; }
        @media (max-width: 768px) {
          header .header nav ul li a {
            padding: 15px;
            letter-spacing: .1rem;
            font-weight: bold; }
            header .header nav ul li a:after {
              content: attr(data-after);
              position: absolute;
              font-size: 7rem;
              letter-spacing: 25px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              color: rgba(240, 248, 255, 0.021);
              z-index: -1;
              transition: .3s ease letter-spacing; } }
        header .header nav ul li a:hover {
          color: #dc3545; }
          @media (max-width: 768px) {
            header .header nav ul li a:hover:after {
              transform: translate(-50%, -50%) scale(1);
              letter-spacing: initial; } }
  @media (max-width: 768px) and (max-width: 480px) {
    header .header nav ul li a:hover:after {
      display: none; } }

    header .header .menu-toggle, header .header .menu-toggle:before, header .header .menu-toggle:after {
      display: none;
      width: 30px;
      height: 4px;
      background: #dcddcd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(99, 93, 92, 0.2);
      cursor: pointer;
      transition: all 0.5s ease-in-out; }
      header .header .menu-toggle:before {
        content: "";
        position: absolute;
        transform: translateY(-7px); }
      header .header .menu-toggle:after {
        content: "";
        position: absolute;
        transform: translateY(7px); }
      header .header .menu-toggle.open, header .header .open.menu-toggle:before, header .header .open.menu-toggle:after {
        background: transparent;
        box-shadow: none; }
        header .header .open.menu-toggle:before {
          background: #dcddcd;
          transform: rotate(-45deg); }
        header .header .open.menu-toggle:after {
          background: #dcddcd;
          transform: rotate(45deg); }
      @media (max-width: 768px) {
        header .header .menu-toggle, header .header .menu-toggle:before, header .header .menu-toggle:after {
          display: block; } }

#show {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-image: url("https://c1.wallpaperflare.com/preview/667/518/326/macbook-mouse-apple-mac.jpg");
  background-size: cover;
  background-position: center; }
  #show:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: -1; }
  #show .show {
    height: 100vh; }
    #show .show .show-inner {
      display: flex;
      justify-content: start;
      align-items: center;
      height: 100%;
      margin-left: 50px; }
      #show .show .show-inner .text {
        flex: 1;
        max-width: 600px;
        text-align: left; }
        #show .show .show-inner .text h2 {
          color: #dcddcd;
          margin-bottom: -2px;
          opacity: 0;
          animation: fadeRight .5s forwards;
          animation-delay: .5s; }
@keyframes fadeRight {
  0% {
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
        #show .show .show-inner .text h1 {
          color: #dc3545;
          font-size: 4rem;
          font-weight: bold;
          text-transform: capitalize;
          letter-spacing: 0;
          opacity: 0;
          animation: fadeRight .7s forwards;
          animation-delay: 1s; }
@keyframes fadeRight {
  0% {
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
        #show .show .show-inner .text .text-description {
          margin-top: 0;
          font-size: 1.3rem;
          color: #dcddcd;
          letter-spacing: 1.5px;
          line-height: 1.3;
          text-transform: capitalize;
          opacity: 0;
          animation: fadeRight .5s forwards;
          animation-delay: 1.5s; }
@keyframes fadeRight {
  0% {
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
        #show .show .show-inner .text .cta {
          margin-top: 30px;
          font-size: 1.2rem;
          letter-spacing: 0.05rem;
          text-transform: uppercase;
          opacity: 0;
          animation: fadeUp .5s forwards;
          animation-delay: 2s; }
@keyframes fadeUp {
  0% {
    transform: translateY(-4rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
#about {
  padding: 50px 0; }
  #about .content {
    display: flex;
    justify-content: space-around;
    margin: 40px 0; }
    @media (max-width: 768px) {
      #about .content {
        flex-direction: column; } }
    #about .content .contentImg {
      width: 500px;
      position: relative;
      margin-left: 60px;
      height: 100%; }
      @media (max-width: 992px) {
        #about .content .contentImg {
          width: 800px; } }
      @media (max-width: 768px) {
        #about .content .contentImg {
          width: 230px;
          margin: 10px auto 30px auto; } }
      #about .content .contentImg:after {
        content: "";
        position: absolute;
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #dc3545;
        z-index: -1; }
        @media (max-width: 768px) {
          #about .content .contentImg:after {
            display: none; } }
      #about .content .contentImg img {
        max-width: 100%; }
    #about .content .contentBx {
      padding: 0 40px 30px 30px; }
      @media (max-width: 768px) {
        #about .content .contentBx {
          text-align: center; } }
      #about .content .contentBx .heading {
        width: 100%;
        margin-bottom: 10px; }
        #about .content .contentBx .heading h2 {
          font-size: 2.3rem;
          font-weight: bold;
          color: black;
          text-transform: uppercase;
          letter-spacing: 0.4rem; }
          #about .content .contentBx .heading h2 span {
            color: #dc3545; }
      #about .content .contentBx h3 {
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 0.1rem; }
      #about .content .contentBx p {
        letter-spacing: 0.05rem;
        font-size: 1.1rem; }
      #about .content .contentBx a {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1.1rem; }

#skills {
  margin: 80px 0 0 0;
  padding: 50px 0;
  background: #111;
  color: #dcddcd; }
  #skills .heading {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px; }
    #skills .heading h2 {
      font-size: 2.3rem;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      color: #dcddcd; }
      #skills .heading h2 span {
        color: #dc3545; }
    #skills .heading p {
      font-size: 1.1rem;
      letter-spacing: 0.1rem; }
  #skills .skills-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; }
    #skills .skills-inner .skillsBx {
      padding: 40px 20px;
      background: #222;
      color: #dcddcd;
      width: 300px;
      max-width: 300px;
      margin: 20px;
      text-align: center;
      transition: all .5s ease; }
      #skills .skills-inner .skillsBx i {
        font-size: 3rem; }
      #skills .skills-inner .skillsBx h2 {
        margin-top: 15px;
        font-size: 1.7rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        text-transform: uppercase; }
      #skills .skills-inner .skillsBx:hover {
        background: #dc3545; }

#projects {
  padding: 50px; }
  #projects .heading {
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
    #projects .heading h2 {
      font-size: 2.3rem;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.4rem; }
      #projects .heading h2 span {
        color: #dc3545; }
    #projects .heading p {
      font-size: 1.1rem;
      letter-spacing: 0.1rem; }
  #projects .projects-inner {
    margin-top: 40px; }
    #projects .projects-inner #choice {
      box-shadow: 0 0 32px black;
      height: 304px;
      object-fit: fill;
      outline: none; }
    #projects .projects-inner .video-list li {
      padding: 0;
      margin-bottom: 10px; }
      #projects .projects-inner .video-list li a {
        cursor: pointer;
        height: fit-content;
        position: relative;
        display: block;
        border: none;
        background: #fff;
        font-size: 16px;
        text-transform: uppercase;
        color: #111;
        padding: 10px;
        box-shadow: 0 0 5px #0000009e;
        letter-spacing: 0.1rem;
        transition: all 0.3s ease; }
        #projects .projects-inner .video-list li a span {
          padding-right: 10px;
          margin-left: 5px;
          font-size: 20px; }
        #projects .projects-inner .video-list li a:hover {
          background: #cc2c2c;
          background: linear-gradient(72deg, #cc2c2c 0%, #dc3545 50%, #fd2d2d 100%);
          color: #fff; }

#contact {
  padding: 50px 0;
  text-align: center; }
  #contact .heading {
    width: 100%;
    margin-bottom: 10px; }
    #contact .heading h2 {
      font-size: 2.3rem;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.4rem; }
      #contact .heading h2 span {
        color: #dc3545; }
  #contact .contact-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px; }
    #contact .contact-content .contact-box {
      display: flex;
      align-items: center;
      width: 280px;
      box-shadow: 0 0 15px #a1a1a1;
      padding-left: 20px;
      height: 120px;
      margin: 10px 0; }
      #contact .contact-content .contact-box .contact-img {
        font-size: 40px; }
      #contact .contact-content .contact-box .contact-text {
        text-align: left;
        margin-left: 15px; }
        #contact .contact-content .contact-box .contact-text h3 {
          font-size: 1.5rem;
          font-weight: bold; }
        #contact .contact-content .contact-box .contact-text h4 {
          font-size: 1.2rem; }
    #contact .contact-content .phone .phone-img {
      color: blue; }
    #contact .contact-content .email .email-img {
      color: #4caf50; }
    #contact .contact-content .address .address-img {
      color: #ce1b15; }

footer {
  background: #111;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  margin-top: 50px; }
  footer .footer-logo h5 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem; }
  footer .copyright p {
    letter-spacing: 0.1rem;
    margin: 0; }

/*# sourceMappingURL=styles.css.map */
